// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.google-pay {
    margin-top: 14px;

    & button {
        background-origin: content-box;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border: 0;
    }
}

.cart-summary {
    & .google-pay {
        margin-bottom: 14px;
    }
}
